.app {
  font-size: 17px;
}

select, input {
  font-size: 17px;
  padding: 3px;
}

.MuiButton-root {
  text-transform: inherit!important;
  font-size: 17px!important;
}

h2,
h3 {
  margin: 0;
}

.field_error_container input {
  border: 1px solid orange;
  outline: orange;
  color: orange;
}

.field_error {
  color: orange;
  text-align: left;
  font-size: 14px;
  margin-top: 5px;
}